.advantages__header {
    padding: 0 18px;
}

.advantages__list {
    margin: 0;
    padding: 0;
}

.advantages__town-list {
    margin: 0;
    padding: 0;
}

.advantages__item {
    list-style: none;
    padding: 0 18px;
}

.advantages__town-item {
    list-style: none;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.advantages__title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin: 0;
}

.advantages__description {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.advantages__divider {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.advantages__item--primary {
    background: #81B3D2;
    color: #FFFFFF;
}

.advantages__item--secondary {
    background: #EEEEEE;
}