.button {
  color: @inverse-text-color;
  background: @prime-color;
  border: none;

  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;

  &:hover {
    background: #669EC0;
  }
  &:focus {
    color: #766357;
  }
  &:active {
    background: #5496BD;
    color: rgba(255, 255, 255, 0.3);
  }
  &:disabled {
    background: #E5E5E5;
    color: #FFFFFF;
  }
}
