.main-footer {
    text-align: center;
}

.tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tags__text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: 0;
}

.main-footer__social {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social__list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.social__link {
    text-decoration: none;
}

.social__item {
    display: flex;
    align-items: center;
    padding: 12px;
}

.copyright__text {
    margin: 0;
}