.form__header {
    padding: 0 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
    margin: 0;
}

.form__discription {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin: 0;
}

.form__fieldset {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__legend {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.form__label {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    margin-left: 16px;
}

.form__input--text {
    width: 280px;
    height: 58px;
}

.form__input--textbox {
    width: 279px;
height: 150px;
}