.main-header {
    background-color: #FFFFFF;
    color: @main-text-color;
    position: relative;
    display: flex;
}

.main-header__logo {
    height: 96px;
    order: 0;
}

@media (min-width: @tablet-width) {
    .main-header__logo {
        order: 1;
        position: absolute;
        left: 50%;
        top:0;
        z-index: 5;
    }
}

@media (min-width: @desktop-width) {
    .main-header__logo {
        order: 1;
        position: absolute;
        left: 50%;
        top:0;
        z-index: 5;
    }
}
